<div class="content">
    <div class="row">
        <div class="col-md-12">
            <app-tickets-action-bar></app-tickets-action-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tickets</h4>
                    <p>There is table with list of tickets.</p>
                </div>
                <div class="card-body table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table tablesorter row-border hover table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of tickets">
                                <td>{{ ticket.time.name }}</td>
                                <td>{{ ticket.name.first }}</td>
                                <td>{{ ticket.name.last }}</td>
                                <td>{{ ticket.email }}</td>
                                <td>{{ ticket.status }}</td>
                                <td>
                                    <button class="btn px-1 py-1 mr-1"[swal]="getDetailSwalOptions(ticket)">
                                        <fa-icon [icon]="faEye"></fa-icon>
                                    </button>
                                    <button class="btn text-danger px-1 py-1 mr-1" [swal]="getDeleteSwalOptions(ticket)" (confirm)="delete(ticket)">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>
                                    <button class="btn text-warning px-1 py-1 mr-1" [swal]="getMailAgainSwalOptions(ticket)" (confirm)="sendMailAgain(ticket)">
                                        <fa-icon [icon]="faEnvelope"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
