<div class="content">
    <div class="row">
        <div class="col-md-12">
            <app-tickets-action-bar></app-tickets-action-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tickets</h4>
                    <p>There is table with list of tickets.</p>
                </div>
                <div class="card-body table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table tablesorter row-border hover table">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <!-- <th>ID</th> -->
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <!-- <th>Date</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of tickets">
                                <td>{{ ticket.time.name }}</td>
                                <!-- <td>{{ ticket.id }}</td> -->
                                <td>{{ ticket.name.first }}</td>
                                <td>{{ ticket.name.last }}</td>
                                <td>{{ ticket.email }}</td>
                                <td>{{ ticket.status }}</td>
                                <!-- <td>{{ ticket.date }}</td> -->
                                <td>todo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
