<div class="content">
    <div class="row">
        <div class="col-md-12">
            <app-tickets-action-bar></app-tickets-action-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tickets</h4>
                    <p>Lorem ipsum.</p>
                </div>
                <div class="card-body">
                    asdf
                </div>
            </div>
        </div>
    </div>
</div>
