<div class="content">
    <div class="row">
        <div class="col-md-12">
            <app-tickets-action-bar></app-tickets-action-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tickets Scan</h4>
                    <!-- Scanned data -->
                    <p>{{output}}</p>
                </div>
                <div class="card-body">
                    <!-- Camera toggle -->
                    <button class="btn text-white px-3 py-3 m-1" (click)="toggleCamera()" [disabled]="action.isLoading">
                        <span *ngIf="action.isStart"><fa-icon [icon]="faStop"></fa-icon> Stop</span>
                        <span *ngIf="!action.isStart"><fa-icon [icon]="faPlay"></fa-icon> Start</span>
                    </button>
                    <!-- Pay ticket -->
                    <button class="btn text-white px-3 py-3 m-1" (click)="pay()" [disabled]="!canPay">
                        <fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>
                        Pay
                    </button>
                    
                    <div class="py-4 px-2">
                        <h4 class="card-title">Ticket detail</h4>
                        <p *ngIf="!ticket">There will be information about reservation.</p>
                        <p *ngIf="ticket">There're information about reservation.</p>
                        <span *ngIf="ticket">
                            <p>Name:    <code>{{ ticket.name.first}} {{ticket.name.last}}</code></p>
                            <p>Email:   <code>{{ ticket.email}}</code></p>
                            <p>Time:    <code>{{ ticket.time.name}}</code></p>
                            <p>Status:  <code>{{ ticket.status}}</code></p>
                        </span>
                    </div>

                    <div class="py-4">
                        <!-- Loading -->
                        <p class="display-4 m-2" *ngIf="action.isLoading">
                            <fa-icon [icon]="faHourglass" [spin]="true"></fa-icon>
                            Loading video...
                        </p>

                        <!-- Video canvas -->
                        <ngx-scanner-qrcode #action="scanner" (error)="onError($event)">
                        </ngx-scanner-qrcode>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>