<div class="content">
    <div class="row">
        <div class="col-md-12">
            <app-tickets-action-bar></app-tickets-action-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tickets Scam</h4>
                    
                    <!-- Scanned data -->
                    <p>{{output}}</p>
                </div>
                <div class="card-body">
                    <!-- Camera toggle -->
                    <button class="btn text-white px-5 py-4 mr-1 m-auto" (click)="action.toggleCamera()" [disabled]="action.isLoading">
                        {{action.isStart ? 'Stop' : 'Start'}}
                    </button>
                    <div class="py-4">
                        <!-- Loading -->
                        <p class="display-4 m-2" *ngIf="action.isLoading">
                            ⌛ Loading video...
                        </p>

                        <!-- Video canvas -->
                        <ngx-scanner-qrcode #action="scanner" (event)="processOutput(action)" (error)="onError($event)">
                        </ngx-scanner-qrcode>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Reservation detail</h4>
                    <p>There will be information about reservation.</p>
                </div>
                <div class="card-body">
                    <p>Name:    <b>{{reservation.name.first}} {{reservation.name.last}}</b></p>
                    <p>Email:   <b>{{reservation.email}}</b></p>
                    <p>Time:    <b>{{reservation.time.name}}</b></p>
                    <p>Status:  <b>{{reservation.status}}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>