<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customers</h4>
                    <p>Sorted by lastname.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-0" style="overflow: auto;">
                        <table class="table tablesorter m-0">
                            <thead class="text-primary">
                                <tr>
                                    <th>Lastname</th>
                                    <th>Firstname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers">
                                    <td>
                                        {{customer.name.last}}
                                    </td>
                                    <td>
                                        {{customer.name.first}}
                                    </td>
                                    <td>
                                        <a href="mailto:{{customer.email}}">
                                            {{customer.email}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>