<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Profile</h1>
        </div>
        <div class="card-body">
          <p>Firstname:</p>
          <pre>{{ user.firstname }}</pre>
          <p>Lastname:</p>
          <pre>{{ user.lastname }}</pre>
          <p>Email:</p>
          <pre>{{ user.email }}</pre>
          <p>User ID:</p>
          <pre>{{ user.userId }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>